body{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.bg-primary-violet{
    background-color: hsl(263, 55%, 52%);
}

.bg-primary-dark-grayish{
    background-color: hsl(217, 19%, 35%);
}

.bg-primary-dark-blackish{
    background-color: hsl(219, 29%, 14%);
}

.bg-primary-white{
    background-color: hsl(0, 0%, 100%);
}

.bg-neutral-light-gray{
    background-color: hsl(210, 46%, 95%);
}

.text-neutral-light-gray{
    color: hsl(0, 0%, 81%);
}

.text-opacity-70{
    opacity: 0.7;
}

.text-opacity-50{
    opacity: 0.5;
}

.pd-2{
    padding: 2rem;
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}