body{
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.bg-primary-violet{
    background-color: hsl(263, 55%, 52%);
}

.bg-primary-dark-grayish{
    background-color: hsl(217, 19%, 35%);
}

.bg-primary-dark-blackish{
    background-color: hsl(219, 29%, 14%);
}

.bg-primary-white{
    background-color: hsl(0, 0%, 100%);
}

.bg-neutral-light-grayish-blue{
    background-color: hsl(210, 46%, 95%);
}

.text-neutral-dark-grayish{
    color: hsl(217, 19%, 35%);
}

.text-neutral-light-gray{
    color: hsl(0, 0%, 81%);
}

.text-neutral-white{
    color: white;
}

.text-opacity-70{
    opacity: 0.7;
}

.text-opacity-50{
    opacity: 0.5;
}

.border-violet-1{
    border: 0.15rem solid hsl(263, 55%, 52%);
}

.pd-2{
    padding: 2rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100svh;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 5rem 0rem;

}

.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.5rem;
}

.testimonial-card * {
    margin: 0;
}

.user-profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

.user-profile-image{
    width: 2rem;
    float: left;
    border-radius: 50%;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}